* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .description{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .user-container h2{
    text-align: center;
    font-size: 30px;
  }

  .description-container{
    margin-top:3rem;
    padding:0.25rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .description-image{
    max-width: 35%;
    max-height: 40%;
  }

  .description-h1{
    margin-top:1rem;
    font-style:italic;
  }

  .description-desc{
    margin-top:2rem;
    margin:0.25rem
  }

  .description-heading h4{
    margin-top: 1rem;
    margin:0.25rem;
    color: burlywood;
  }

  .button-container{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-cart {
    border: 1px solid yellow;
    margin: 0.5rem ; /* Adjust margin for better spacing */
    padding: 0.75rem 4rem;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
    color: black;
  }
  .btn-cart:hover{
    border: 1px solid orange;
    margin: 0.5rem 0;
    padding: 0.75rem 4rem;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    color: white; 
  }
  .btn-purchase {
    border: 1px solid yellow;
    margin: 0.5rem ; /* Adjust margin for better spacing */
    padding: 0.75rem 4rem;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
    color: black;
  }
  .btn-purchase:hover{
    border: 1px solid orange;
    margin: 0.5rem 0;
    padding: 0.75rem 4rem;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    color: white; 
  }
  .description-heading h3{
    margin:0.25rem;
    margin-top:1rem;
    font-size: 27px;
    color: red;
  }
  .description-heading sup{
    font-size: 15px;
  }